<!-- <div class="body">
     <div class="container" id="banner">
          <pre id="title">
.______   .______          ___   ____    ____  _______  _______ .__   __. 
|   _  \  |   _  \        /   \  \   \  /   / |   ____||   ____||  \ |  | 
|  |_)  | |  |_)  |      /  ^  \  \   \/   /  |  |__   |  |__   |   \|  | 
|   ___/  |      /      /  /_\  \  \      /   |   __|  |   __|  |  . `  | 
|  |      |  |\  \----./  _____  \  \    /    |  |____ |  |____ |  |\   | 
| _|      | _| `._____/__/     \__\  \__/     |_______||_______||__| \__| 
                                                                          
    __  ___  __    __  .___  ___.      ___      .______                   
   |  |/  / |  |  |  | |   \/   |     /   \     |   _  \                  
   |  '  /  |  |  |  | |  \  /  |    /  ^  \    |  |_)  |                 
   |    <   |  |  |  | |  |\/|  |   /  /_\  \   |      /                  
   |  .  \  |  `--'  | |  |  |  |  /  _____  \  |  |\  \----.             
   |__|\__\  \______/  |__|  |__| /__/     \__\ | _| `._____|             
                                                                          
                      
</pre>

          <p class="typewriter" id="subtitle">SOFTWARE DEVELOPER</p>
     </div>
     <div class="container" id="contact">
          <div id="contact_sub_container">
               <pre id="logo">
      __________________
      | _______________ |
      | |<span class="computer_screen">             </span>| |
      | |<span class="computer_screen">             </span>| |
      | |<span class="computer_screen">HELLO, WORLD!</span>| |
      | |<span class="computer_screen">             </span>| |
      | |<span class="computer_screen">_____________</span>| |
      |_________________|
          _[_______]_
      ___[___________]___
     |         [_____] []|
     | <span class="computer_light"> </span>       [_____] []|
     L___________________J </pre>
               <div class="contact_info_list">
                    <div class="contact_info">
                         <div class="contact_info_label label">^Email</div>
                         <div class="contact_info_value">dev.praveen002&#64;gmail.com</div> 
                    </div>
                    <div class="contact_info">
                         <div class="contact_info_label label">^Phone</div>
                         <div class="contact_info_value">+919042630085</div>
                    </div>
                    <div class="contact_info">
                         <div class="contact_info_label label">^LinkedIn</div>
                         <div class="contact_info_value">
                              <a class="url" href="#">Praveen Kumar</a>
                         </div>
                    </div>
                    <div class="contact_info">
                         <div class="contact_info_label label">^Github</div>
                         <div class="contact_info_value">
                              <a class="url" href="https://github.com/devpraveen002">devpraveen</a>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="section">
          <div class="section_container">
               <div class="label">^Employment</div>
               <div class="entry_list">
                    <div class="entry"><a href="https://abccorp.com/" class="url">ABC Corporation (2018 - 2022)</a>
                         <div>
                              <div class="setion_title">&gt; Responsibilities</div>
                              <div>
                                   <div class="section_value">Led a team of developers in implementing new features for
                                        the company's flagship product.</div>
                              </div>
                              <div>
                                   <div class="section_value">Managed software development projects, ensuring on-time
                                        delivery and quality assurance.</div>
                              </div>
                              <div>
                                   <div class="section_value">Collaborated with cross-functional teams to identify and
                                        address technical challenges.</div>
                              </div>
                         </div>
                         <div>
                              <div class="setion_title">&gt; Highlights</div>
                              <div>
                                   <div class="section_value">Implemented a scalable cloud-based infrastructure,
                                        resulting in a 30% reduction in operational costs.</div>
                              </div>
                              <div>
                                   <div class="section_value">Optimized codebase for performance, leading to a 20%
                                        increase in application responsiveness.</div>
                              </div>
                              <div>
                                   <div class="section_value">Introduced Agile methodologies, improving team
                                        productivity and project transparency.</div>
                              </div>
                         </div>
                         <div>
                              <div class="setion_title">&gt; Technologies</div>
                              <div>
                                   <div class="section_value">Java, Spring Boot, AWS, Docker</div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="section">
          <div class="section_container">
               <div class="label">^Volunteering</div>
               <div class="entry_list">
                    <div class="entry"><a href="https://techforgood.org/" class="url">Tech for Good Organization</a>
                         <div>
                              <div class="setion_title">&gt; Contributions</div>
                              <div>
                                   <div class="section_value">Developed a mobile app to facilitate donations for
                                        underprivileged communities.</div><a
                                        href="https://github.com/techforgood/project" class="section_sub_value">Open
                                        Source Contribution: Mobile App Development</a>
                              </div>
                              <div>
                                   <div class="section_value">Organized and led coding workshops for high school
                                        students interested in technology.</div>
                              </div>
                              <div>
                                   <div class="section_value">Contributed to the development of a web platform for
                                        connecting volunteers with local charities.</div><a
                                        href="https://github.com/techforgood/project" class="section_sub_value">Open
                                        Source Contribution: Web Development</a>
                              </div>
                         </div>
                         <div>
                              <div class="setion_title">&gt; Technologies</div>
                              <div>
                                   <div class="section_value">React, Node.js, MongoDB</div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="section">
          <div class="section_container">
               <div class="label">^Education</div>
               <div class="entry_list">
                    <div class="entry"><a href="https://xyzuniv.edu/" class="url">University of XYZ</a>
                         <div>
                              <div class="setion_title">&gt; Bachelor of Science in Computer Science</div>
                              <div>
                                   <div class="section_value">Studied various topics including algorithms, data
                                        structures, and software engineering principles.</div>
                              </div>
                         </div>
                         <div>
                              <div class="setion_title">&gt; Technologies</div>
                              <div>
                                   <div class="section_value">C++, Python, SQL</div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="section">
          <div class="section_container">
               <div class="label">^Projects</div>
               <div class="entry_list">
                    <div class="entry"><a href="" class="url">Personal Projects</a>
                         <div>
                              <div class="setion_title">&gt; Project 1: Portfolio Website</div>
                              <div>
                                   <div class="section_value">Designed and developed a personal portfolio website
                                        showcasing my skills and projects.</div><a
                                        href="https://github.com/johndoe/portfolio" class="section_sub_value">Repo</a>
                              </div>
                         </div>
                         <div>
                              <div class="setion_title">&gt; Project 2: Task Management App</div>
                              <div>
                                   <div class="section_value">Created a task management application with features for
                                        task prioritization and deadline tracking.</div><a
                                        href="https://github.com/johndoe/task-manager"
                                        class="section_sub_value">Repo</a>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <footer>Created with <a href="https://github.com/tlemy/rezume">Rezume</a></footer>
</div> -->
<h2 style="color: orange;">Praveen Demo</h2>